/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

header {
  background-color: #004080;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

header h1 img {
  max-height: 80px;
}

nav {
  display: flex;
  gap: 1rem;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

a:has(img[src="img/icons/conta.svg"]){
  padding: 0;
  -webkit-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
}
a img[src="img/icons/conta.svg"]{
  height: 40px;
}
input{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 4px;
}

main {
  padding: 2rem;
}

.container {
  max-width: 800px;
  margin: auto;
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

footer{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    text-align: center;
    padding: 24px;
    margin-top: 32px;
    border-top: 1px solid #cccc;
}

@media (max-width: 600px) {
  header{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  nav{
    display: flex;
    justify-content: space-between;
  }
  nav a{
    padding: 0.5rem !important;
  }
}